<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FirstSuite" parallel="none" thread-count="1">
    <test name="CodingTest1" >
        <classes>
            <class name="api.workflows.VariousUserFieldVerification" />
        </classes>
    </test>
    <test name="CodingTest2" >
        <classes>
            <class name="api.workflows.VerificationJSONResponseUsingPOJO" />
        </classes>
    </test>
    <test name="CodingTest3" >
        <classes>
            <class name="api.workflows.VerifyJsonPlaceHolderResourceCount" />
        </classes>
    </test>
    <test name="CodingTest4" >
        <classes>
            <class name="api.workflows.VerifyUserPostCommentEmailFormat" />
        </classes>
    </test>
</suite>
